<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../vue.js" ></script>
    <title>2 Way Data Binding</title>
</head>
<body>
    <div id="test">
        <h1> {{ projectName }}</h1>
        <input v-model="name" placeholder="What's your name">
        <p> My name is {{ name }}</p>

        <input v-model="age" placeholder="What's your age">
        <p> My name is {{ age }}</p>
    </div>
    <script src="app.js"></script>
</body>
</html>